.catalog {
  padding: 0 30px;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding: 0 50px 0 51px;
  }
}

// @media (min-width: $desktop-width) {
// }
