.contact__link {
  width: 260px;

  margin: 0 auto;
  margin-bottom: 39px;

  font-size: 18px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .contact__link {
    max-width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contact__link {
    min-height: 52px;

    margin: 0;
    margin-left: 109px;
  }
}
