.contact {
  display: flex;
  flex-direction: column;
  margin: 26px auto 0;
  color: $primary-gray;
  text-align: left;
}

.contact-info {
  margin: 0 29px;
  margin-bottom: 38px;

  display: block;
}

.contact__map-embedded {
  width: 320px;
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .contact {
    width: 100%;

    padding: 0;
    margin: 0;
  }

  .contact-info {
    width: auto;

    margin: 0 45px;
    padding: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contact__map-embedded {
    width: $tablet-width;
    margin-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 0 70px 116px;
    margin-bottom: 33px;
    position: relative;
    box-sizing: border-box;
  }

  .contact-info {
    width: 418px;
    flex-direction: column;
    padding-top: 91px;
    margin-left: 29px;
  }

  .contact__map-embedded {
    width: 525px;
    height: 457px;

    position: absolute;
    top: 21px;
    right: 51px;
  }
}
