.feedback-review__content {
  margin: 0;
  margin-bottom: 27px;

  font-size: 15px;
  line-height: 30px;
  color: $primary-gray;
}

@media (min-width: $tablet-width) {
  .feedback-review__content {
    margin-bottom: 58px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .feedback-review__content {
    margin-bottom: 38px;
  }
}
