.feedback-review__author {
  margin: 0;
}

.feedback-review__author-name {
  display: inline-block;
  margin-bottom: 3px;

  font-size: 17px;
  font-weight: $bold;
  line-height: 24px;
  color: #000000;
}

.feedback-review__author-username {
  font-size: 17px;
  line-height: 30px;
  color: $primary-gray;

  &:hover,
  &:focus {
    color: $dark-seafoam;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .feedback-review__author {
    width: 300px;
    margin: 0;

    order: 4;
    display: flex;
    flex-wrap: wrap;
  }
}
