.form-order__title {
  margin: 0;
  margin-bottom: 30px;
  position: relative;

  font-size: 17px;
  font-weight: $bold;
  text-transform: uppercase;
  color: $seafoam-blue;

  &::before {
    position: absolute;
    top: 11px;
    left: 0;
    z-index: -1;

    width: 63px;
    height: 1px;

    content: "";

    background-color: #ffffff;
  }

  &::after {
    position: absolute;
    top: 11px;
    right: 0;
    z-index: -2;

    width: 100%;
    height: 1px;

    content: "";

    background-color: #62d1ba;
  }

  &--product-color {
    margin-bottom: 21px;
  }

  &--customer-name {
    margin-bottom: 23px;
  }

  &--phone {
    margin-bottom: 7px;
  }

  &--email {
    margin-bottom: 7px;
  }

  &--customer-wishes {
    margin-bottom: 22px;
  }
}

.form-order__group {
  &--product-type {
    margin-bottom: 41px;
  }
}

.form-order__list {
  @include list-reset;
}

.form-order__item {
  margin-bottom: 30px;

  &:hover .form-order__icon {
    fill: $seafoam-blue;
  }

  &--product-type {
    margin-bottom: 24px;
  }

  &--product-color {
    margin-bottom: 22px;

    display: flex;
    align-items: center;

    &:last-child {
      margin-bottom: 39px;
    }
  }

  &--customer-name {
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 29px;
    }
  }

  &--contact {
    margin-bottom: 29px;
    position: relative;
  }

  &--textarea {
    margin-bottom: 11px;
  }
}

.form-order__value {
  width: 198px;

  font-size: 17px;
  font-weight: $bold;
  line-height: 18px;
}

.form-order__radio {
  position: relative;

  &::before {
    display: inline-flex;
    position: absolute;
    top: -8px;

    content: "";

    width: 35px;
    height: 35px;

    border: 2px solid $primary-gray;
    border-radius: 50%;
  }
}

.form-order__label {
  width: 100%;
  position: relative;

  display: flex;
  justify-content: space-between;

  cursor: pointer;
  user-select: none;

  &--product-type:hover .form-order__radio::before,
  &--product-type:focus .form-order__radio::before {
    border-color: $seafoam-blue;
  }

  &--product-type:active .form-order__radio::before {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &--checkbox {
    align-items: center;
  }
}

.form-order__input--product-type:checked + .form-order__radio::after {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 3px;
  left: 12px;

  content: "";

  background-color: $seafoam-blue;
  border-radius: 50%;
}

.form-order__checkbox {
  position: relative;

  &::before {
    display: block;

    content: "";

    width: 35px;
    height: 35px;

    border: 2px solid $primary-gray;
  }
}

.form-order__input--product-color:checked + .form-order__checkbox::after {
  content: "";

  position: absolute;
  top: 4px;
  left: 5px;

  width: 30px;
  height: 30px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 3px 8px;
  background-size: 78%;
}

.form-order__input:hover + .form-order__checkbox::before,
.form-order__input:focus + .form-order__checkbox::before {
  border-color: $seafoam-blue;
}

.form-order__input {
  width: 100%;
  min-height: 45px;

  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;

  font-size: 17px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 18px;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $seafoam-blue;
  }

  &--phone {
    font-size: 19px;
  }

  &--product-color {
    min-height: 40px;
  }
}

.form-order__input:placeholder-shown,
.form-order :-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form-order__icon {
  position: absolute;

  &--phone,
  &--email {
    fill: rgba(68, 68, 68, 0.2);
  }

  &--phone {
    right: 8px;
    bottom: 17px;
  }

  &--email {
    right: 4px;
    bottom: 9px;
  }
}

.form-order__textarea {
  width: 227px;
  min-height: 110px;
  padding: 14px;

  font-family: inherit;
  font-size: 17px;
  line-height: 18px;

  border: 2px solid $primary-gray;

  &:hover,
  &:focus,
  &:active {
    border: 2px solid $seafoam-blue;
  }
}

.form-order__footnote {
  margin-bottom: 32px;

  display: block;

  font-size: 14px;
  line-height: 16px;
}

.form-order__submit-button {
  width: 260px;
  padding: 16px 30px;
  margin-bottom: 55px;

  font-size: 17px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form-order__group {
    padding-top: 51px;
    padding-bottom: 8px;

    margin: 0;

    &--bg {
      background-color: $light-gray;
    }

    &--product-color {
      padding-top: 45px;
    }

    &--customer-name {
      padding-top: 43px;
    }

    &--contact {
      padding-top: 43px;
      padding-bottom: 31px;
    }
  }

  .form-order__wrapper {
    padding: 0 50px;
    padding-right: 20px;

    display: flex;
    align-items: flex-start;

    &--contact {
      padding-right: 50px;
      justify-content: space-between;
    }
  }

  .form-order__title {
    &::before,
    &::after {
      content: none;
    }

    &--product-color {
      padding-top: 17px;
    }

    &--customer-name {
      margin-top: 20px;
    }

    &--phone {
      margin-top: 20px;
    }

    &--email {
      margin-top: 18px;
    }

    &--customer-wishes {
      margin-top: 13px;
    }
  }

  .form-order__list {
    display: inline-block;

    &--product-type {
      margin-left: 210px;
    }

    &--product-color {
      width: 526px;

      margin-top: 2px;
      margin-bottom: 20px;
      margin-left: 123px;

      display: flex;
      flex-wrap: wrap;
    }

    &--customer-name {
      width: 100%;

      margin-left: 124px;
      margin-bottom: 13px;
    }

    &--customer-wishes {
      margin-top: 13px;
    }
  }

  .form-order__item {
    margin-bottom: 60px;

    &--product-color {
      width: 263px;

      margin-bottom: 23px;

      &:last-child {
        margin-bottom: 23px;
      }
    }

    &--customer-name {
      display: flex;
      align-items: center;
      margin-bottom: 17px;
    }

    &--contact {
      width: 501px;
      margin-bottom: 18px;
    }

    &--textarea {
      margin-left: 127px;
      margin-bottom: 40px;
    }
  }

  .form-order__value {
    width: 100%;

    font-size: 19px;

    &--checkbox {
      margin-left: 26px;

      display: flex;
      align-items: center;
    }

    &--name,
    &--surname,
    &--patronymic {
      width: auto;
      margin-right: 25px;
    }
  }

  .form-order__radio {
    &::before {
      width: 50px;
      height: 48px;

      top: -15px;
      left: -81px;
    }
  }

  .form-order__input {
    min-height: 55px;

    font-size: 19px;

    &--product-type:checked + .form-order__radio::after {
      width: 22px;
      height: 22px;

      top: 1px;
      left: -65px;
    }

    &--product-color:checked + .form-order__checkbox::after {
      width: 40px;
      height: 40px;

      top: 10px;
      left: 9px;
    }

    &--name {
      width: 413px;
      padding-left: 16px;
    }

    &--surname,
    &--patronymic {
      width: 363px;
      padding-left: 16px;
    }

    &--phone {
      width: 486px;

      padding-top: 3px;
      padding-left: 15px;
    }

    &--email {
      width: 486px;
      padding-left: 16px;
    }
  }

  .form-order__checkbox::before {
    width: 50px;
    height: 49px;

    position: unset; // убрать когда переделаю радиобатоны
  }

  .form-order__icon {
    &--phone {
      right: 26px;
    }

    &--email {
      right: 22px;
    }
  }

  .form-order__textarea {
    width: 469px;
    font-size: 19px;
  }

  .form-order__submit {
    padding: 0 50px;
    margin-bottom: 49px;

    display: flex;
    flex-direction: row-reverse;

    justify-content: space-between;
    align-items: center;
  }

  .form-order__submit-button {
    width: 230px;

    padding: 16px 29px 16px 24px;
    margin: 0;
  }

  .form-order__footnote {
    margin: 0;
    font-size: 17px;
  }
}
