.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation__links,
.navigation__search-cart {
  width: 100%;
}

.navigation__links,
.navigation__search-cart,
.navigation__optional {
  @include list-reset;

  font-size: 17px;
  font-weight: $bold;
  line-height: 24px;
}

.invisible-menu-js {
  display: none;
}

.navigation__free-delivery-info,
.navigation__optional {
  display: none;
}

@media (min-width: $tablet-width) {
  .navigation__links,
  .navigation__free-delivery-info {
    z-index: 1;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
