.navigation__toggle {
  @include button-reset;
  width: 79px;
  height: 79px;
  padding: 0;

  position: absolute;
  right: 0;
}

@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }
}
