@media (min-width: $desktop-width) {
  .navigation__optional {
    z-index: 1;
    min-height: 60px;
    margin-left: 50px;

    display: flex;
    flex-wrap: wrap;
    order: 4;
    align-items: center;

    font-size: 15px;
  }

  .navigation__optional-item {
    margin-right: 59px;
  }

  .navigation__optional-item__link {
    color: #000000;
    line-height: 24px;

    opacity: 1;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
