.cart__icon {
  position: absolute;
  left: -47px;
}

@media (min-width: $tablet-width) {
  .navigation__cart {
    min-height: 88px;
    margin-right: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart__icon {
    width: 21px;
    height: 18px;

    position: static;

    padding-left: 30px;
    padding-right: 30px;

    fill: rgba(0, 0, 0, 0.2);
  }

  .navigation__cart-link {
    height: 100%;
    color: #000000;

    cursor: pointer;

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.6);
    }

    &:hover .cart__icon,
    &:focus .cart__icon {
      fill: $seafoam-blue;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }

    &:active .cart__icon {
      fill: rgba(99, 209, 187, 0.3);
    }
  }
}
