.search__icon {
  position: absolute;
  top: 30px;
  left: -45px;
}

@media (min-width: $tablet-width) {
  .search__visually-hidden {
    @include visually-hidden;
  }

  .navigation__search {
    width: 85px;
    height: 100%;
    align-items: center;

    box-sizing: border-box;

    border-left: solid 1px $lightest-gray;
    border-right: solid 1px $lightest-gray;
  }

  .search__icon {
    position: unset;
  }

  .navigation__search-link {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: #000000;
    opacity: 0.2;

    cursor: pointer;

    &:hover,
    &:focus {
      fill: $seafoam-blue;
      opacity: 1;
    }

    &:active {
      fill: rgba(99, 209, 187, 0.3);
    }
  }
}
