.page-footer {
  width: 100%;

  padding-bottom: 20px;
  background-color: #f1f1f1;
  color: #000000;
}

.page-footer__wrapper {
  min-height: 160px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.page-footer__logo-picture {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 0;
    height: 143px;
  }

  .page-footer__wrapper {
    min-height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    padding-left: 48px;
  }

  .page-footer__logo {
    width: 200px;
    height: 41px;
  }

  .page-footer__logo-picture {
    display: block;
  }

  .page-footer__logo-link:hover .page-footer__logo-path,
  .page-footer__logo-link:focus .page-footer__logo-path {
    fill: $dark-seafoam;
  }

  .page-footer__logo:active .page-footer__logo-path {
    fill: rgba(99, 209, 187, 0.3);
  }
}
