.page-main__header {
  width: 100%;
  min-height: 283px;

  display: flex;
  flex-direction: column;

  text-align: center;

  background-color: $main-bg-gray;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;
}

.page-main__title {
  margin: 70px 38px 0;

  box-sizing: border-box;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .page-main {
    margin-top: -60px;
    margin-bottom: 57px;
  }

  .page-main__header {
    width: 100%;
    min-height: 472px;
    padding-top: 155px;

    position: relative;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center top;
    background-size: auto 119%;

    &::after {
      content: "";
      width: 100%;
      height: 10px;

      position: absolute;
      z-index: 2;
      bottom: -119px;

      background-position: top;
      background-repeat: repeat-x;
      background-size: auto 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .page-main__title {
    margin: 0 auto;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    margin-bottom: 34px;
  }

  .page-main__header {
    width: 100%;
    height: 472px;

    position: relative;
    background-image: url("../img/hero-desktop@1x.jpg");

    &::after {
      height: 34px;
      width: 100%;

      position: absolute;
      background-size: 80% 34px;
      background-repeat: repeat-x;
      bottom: -136px;
    }
  }

  .page-main__title {
    margin: 0 120px;

    font-size: 53px;
    line-height: 57px;
  }
}
