.promo__body {
  margin: 0 30px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .promo__body {
    margin: 0 49px;

    display: block;
    box-sizing: content-box;
  }
}

@media (min-width: $desktop-width) {
  .promo__body {
    margin-left: 225px;

    position: relative;

    display: flex;
    flex-direction: column;
  }
}
