.promo__header {
  margin-bottom: 23px;
  padding: 27px 42px 0 29px;
}

.promo__header-title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.promo__type {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: $bold;
  line-height: 20px;
  color: $seafoam-blue;
}

@media (min-width: $tablet-width) {
  .promo__header {
    padding: 45px 42px 0 46px;
    margin-bottom: 43px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .promo__header-title {
    font-size: 43px;
    line-height: 50px;
  }

  .promo__type {
    width: 134px;

    padding-right: 5px;

    align-self: center;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .promo__header {
    width: 682px;

    padding: 0;
    padding-left: 65px;
    margin: 0;
    margin-bottom: 44px;

    display: flex;
    flex-direction: row-reverse;
  }

  .promo__header-title {
    font-size: 53px;
    line-height: 57px;
  }

  .promo__type {
    line-height: 17px;
  }
}
