.promo__parameters {
  margin-bottom: 30px;

  order: -1;

  font-size: 15px;
  line-height: 20px;
  color: $primary-gray;
  border-collapse: collapse;
}

.promo__field,
.promo__value {
  padding-bottom: 10px;
  padding-top: 9px;
  border-bottom: #ececec solid 1px;
}

.promo__field {
  padding-left: 17px;
}

@media (min-width: $tablet-width) {
  .promo__parameters {
    width: 291px;

    margin-bottom: 55px;
  }

  .promo__value {
    padding-right: 10px;
  }

  .promo__field {
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .promo__parameters {
    margin-bottom: 107px;
  }

  .promo__value {
    padding-top: 10px;
    padding-right: 2px;
  }
}
