.promo__picture {
  width: 260px;
  height: auto;

  margin: 0;

  order: 3;
}

@media (min-width: $tablet-width) {
  .promo__picture {
    width: 333px;
    height: 404px;

    margin-top: 10px;
    margin-right: 3px;

    float: right;
  }
}

@media (min-width: $desktop-width) {
  .promo__picture {
    width: 525px;
    height: 636px;

    margin: 0;

    position: absolute;
    top: -158px;
    right: 0;
    z-index: -1;
  }
}
