.social__list {
  height: 60px;

  margin: 14px 58px 4px;
  padding-left: 0;

  display: flex;
  border: none;
  justify-content: center;
  align-items: center;

  list-style: none;
  border-bottom: 2px solid $lightest-gray;
}

.social__item {
  margin: 0 20px;
}

.social__link:hover,
.social__link:focus {
  fill: $dark-seafoam;
}

.social__link:active {
  fill: rgba(99, 209, 187, 0.3);
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-top: 9px;
    width: 142px;
    margin: 0 15px 0 0;
    justify-content: space-between;
    border-bottom: 0;
  }

  .social__item {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    margin: 0 23px 0 0;
  }
}
