$bold: 700;
$primary-gray: #444444;
$seafoam-blue: #63d1bb;
$greeny-blue: #56c3b2;
$green-on-action: #59d5bc;
$dark-seafoam: #46c1ae;
$light-gray: #f1f1f1;
$main-bg-gray: #f9f9f9;
$lightest-gray: #ececec;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;

@import "mixins.scss";
@import "fonts.scss";
@import "scaffolding.scss";
@import "blocks/container.scss";
@import "blocks/button.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/navigation.scss";
@import "blocks/logo.scss";
@import "blocks/search-cart.scss";
@import "blocks/navigation-optional.scss";
@import "blocks/page-main.scss";
@import "blocks/main-catalog.scss";
@import "blocks/section-list.scss";
@import "blocks/promo.scss";
@import "blocks/about.scss";
@import "blocks/feedback.scss";
@import "blocks/leave-feedback.scss";
@import "blocks/contact.scss";
@import "blocks/catalog-main.scss";
@import "blocks/catalog.scss";
@import "blocks/catalog-item.scss";
@import "blocks/production.scss";
@import "blocks/video.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/form-main.scss";
@import "blocks/order.scss";
@import "blocks/form-order.scss";
@import "blocks/modal-order.scss";
